/*
The CSS code gets to executed from top to bottom and left ro right

Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

/* Remember to delete the borders */

body {
  text-align: center;
  line-height: 1.5;
  height: auto;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cursive;
}

h2 {
  color: white;
}

p,
ul,
ol {
  text-align: left;
  word-spacing: normal;
}

button {
  background-color: transparent;
  border: 2px solid #6d7296;
}

button:hover {
  background-color: #efc43f;
  color: black;
}

/*
The clearfix Hack: If an element is taller than the element containing it, and it is floated, it will "overflow" outside of its container
https://www.w3schools.com/css/css_float_clear.asp
*/
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
header {
  height: 700px;
  width: 100%;
  display: block;
  position: relative;
  margin-top: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: auto;
  color: #fdfffc;
  font-family: 'Roboto Slab', serif;
  background-image: url('./images/hero-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 700px;
}

header nav {
  margin: 0px;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  text-align: left;
}

header h2.slogan {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  position: absolute;
  top: 250px;
  left: 70px;
  color: rgba(0, 0, 0, 0.7);
}

header nav h1 {
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  width: auto;
  color: white;
  padding: 16px 0px 0px;
  margin: 0px;
  margin-left: 10px;
  font-size: 28px;
  font-weight: 500;
  /* right: 500px;
  bottom: 10px; */
}

header nav ul.nav-items {
  display: inline-block;
  width: auto;
  list-style-type: none;
  float: right;
}

header nav ul.nav-items li {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  border-right: 2px solid #ddd;
}
header nav ul li a {
  text-decoration: none;
  color: #fdfffc;
}

header nav ul.nav-items li:last-child {
  border-right: 0;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/
section {
  padding: 50px 50px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ccc;
}

section h2 {
  font-family: 'Roboto Slab', serif;
  color: #ddd;
  text-align: center;
  margin-bottom: 60px;
  font-size: 38px;
}

section#skills,
section#contact-me {
  background-color: #ddd;
  color: rgba(0, 0, 0, 0.9);
}

section#about-me {
  text-align: center;
}

section#skills h2,
section#contact-me h2 {
  color: rgba(0, 0, 0, 0.9);
}
section#contact-me ul {
  text-align: center;
}

section div.group {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1;
}

section div.logos-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
}

section div.projects-container img {
  width: 80%;
}

section div.logos-container figure {
  margin: 15px;
}

section#contact-me ul li {
  display: inline-block;
  list-style: none;
  margin: 10px;
}

section#contact-me ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

section div.logos-container figure img {
  width: 100px;
}

section div.projects-container div.item {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

section div.projects-container div.project-details {
  display: inline-block;
  margin: 10px;
}

section div.group div.item img {
  width: 90%;
  margin: 20px;
  text-align: center;
  border-radius: 50%;
}

section#contact-me ul li a:hover {
  text-decoration: none;
  color: black;
}

section div.projects-container div.project-details h3 {
  font-family: 'Roboto Slab', serif;
  color: white;
  font-size: 30px;
}

section div.projects-container div.project-details p {
  margin: 10px 0px;
}

section#contact-me ul li a i {
  font-size: 40px;
}

section div.projects-container div.project-details ul li {
  list-style: none;
  display: inline-block;
  border: solid #ddd 2px;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

section div.projects-container div.project-details ul.projects-links li {
  background-color: white;
}

section div.projects-container div.project-details ul.projects-links li a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

section
  div.projects-container
  div.project-details
  ul.projects-links
  li
  a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 25px;
  text-align: center;
  color: #fdfffc;
  border: 0px;
}

footer p {
  text-align: center;
}

/* -------------------------------------
place all the desktop styles above this line

Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)

place all the mobile tables styles below this line
*/

/*large desktop*/
@media only screen and (max-width: 1600px) {
  body {
  }
}

/*iPad lanscape / small laptop*/
@media only screen and (max-width: 1024px) {
  body {
  }
}

/*iPad potrait*/
@media only screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
  header nav ul li a span.hide {
    display: none;
  }
}

/*Android landscape*/
@media only screen and (max-width: 640px) {
  body {
  }

  header h2 {
    text-align: center;
  }

  header h2.slogan {
    font-size: 36px;
  }

  header nav h1 {
    font-size: 24px;
  }
  header nav ul li a {
    font-size: 18px;
  }

  section div.group {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2;
  }

  section div.logos-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
  }

  section div.group div.item {
    grid-area: 1/1;
  }

  section div.projects-container div.item {
    display: grid;
    grid-template-columns: 100%;
  }
  section div.group div.item img {
    width: 70%;
  }
}

/*iPhone landscape*/
@media only screen and (max-width: 480px) {
  body {
  }
}

/*iPhone portrait*/
@media only screen and (max-width: 320px) {
  body {
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* My old code */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
